*dot2tex-fig*.dot
*dot2tex-fig*.tex
*~
main.aux
main.log
main.nav
main.out
main.pdf
main.snm
main.toc
main.vrb
inria.aux
inria.log
inria.nav
inria.out
inria.pdf
inria.snm
inria.toc
inria.vrb
projet-enseignement.aux
projet-enseignement.log
projet-enseignement.nav
projet-enseignement.out
projet-enseignement.pdf
projet-enseignement.snm
projet-enseignement.toc
